body {
  font-family: sans-serif;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

a.active {
  color: #e64d33;
  font-size: 15px;
}

.container {
  -webkit-box-shadow: 0px 0px 6px #cccccc;
  box-shadow: 0px 0px 6px #cccccc;
  padding: 20px;
  min-height: 650px  !important
}

.cursive {
  font-family: cursive;
}
