<div class="row-fluid" style="margin: 50px;">
  <div class="span2">
    {{outlet 'LHS'}}
  </div>
  <div class="span7 container">
    {{outlet 'details'}}
  </div>
  <div class="span3">
    {{outlet 'RHS'}}
  </div>
</div>
