<div style="margin: 100px 150px;">
  <div class="row-fluid">  
  <div class="span2">
    {{outlet 'LHS'}}
  </div>
  <div class="span7 container">
    {{outlet 'details'}}
  </div>
  <div class="span3">
    {{outlet 'RHS'}}
  </div>
</div>
</div>
