
<div class="span12" style="margin-bottom: 30px;">
<h4 class="cursive"> Recent Posts </h4>
{{#each recentPosts}}
<div class="span12">
  {{#linkTo 'post' this}}{{name}}{{/linkTo}}
</div>  
{{/each}}
</div>


<div class="span12" style="margin-bottom: 30px;">
  {{blog-archive content=content}}
</div>
